/* Page level styles */

:root {
    --dark: #000;
    --light: #FFF;
    --primaryDark: rgb(3, 3, 80);
    --primaryLight: #293df5;
    --secondary: #e6ff01;
}

* {
    /* border: 1px solid yellow; */
}

body {
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
    font-size: 20px;
    padding: 5px;
    max-height: 100vh;
    font-family: Tahoma;
}

/* !Page level styles */

/* navigation bar styles */

@keyframes fromLeft {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(500%);
    }
    100% {
        transform: translateX(0);
    }
}

nav {
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    padding: 0;
    justify-content: center;
    max-height: 30px;
}

nav ul li {
    list-style: none;
    padding: 5px;
    margin-right: 10px;
    transform: skew(-15deg);
}

nav ul li a {
    padding: 10px 30px;
    text-decoration: none;
    color: var(--light);
    border: 1px solid var(--secondary);
}

nav ul li a:hover, nav ul li a:focus {
    display: inline-block;
    transform: translateX(2px) translateY(2px);
}

.animate-from-left {
    animation: 1s ease-out 0s 1 fromLeft;
}

.animate-from-right {
    animation: 1s ease-out 0s 1 fromRight;
}

/* !navigation bar styles */

/* homepage styles */

@keyframes flyTop {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fromTop {
    0% {
        transform: translateY(-250%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes toTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-250%);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.animation-fade-in {
    animation: 8s ease-out 0s 1 fadeIn;
}

.animation-from-top {
    animation: 0.5s ease 0s 1 fromTop;
}
.animation-to-top {
    animation: 1s linear 0s 1 toTop;
}
.animation-bounce {
    animation: 1s linear 0s infinite bounce;
}

.text-center {
    text-align: center;
}

main .home-image {
    height: auto;
    width: 60%;
    border-radius: 50%;
}

@media screen and ( min-width: 480px) {
    main .home-image {
        width: 20%;
    }
}

main .brand-content h1 {
    font-size: 2.5em;
    text-shadow: 5px 5px 9px var(--secondary);
    animation: 1s ease-out 0s 1 flyTop;
}

main .brand-content p {
    animation: 1s ease-out 0s 1 flyTop;
}

a.button {
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    font-style: italic;
    margin: 20px auto;
    display: inline-block;
    padding: 10px 20px;
    /* border: 1px solid var(--secondary); */
}

#social {
    display: block;
    max-width: 480px;
    margin: 0 auto;
}

#social a {
    padding: 10px 15px;
    color: var(--light);
    border: 1px solid var(--secondary);
}

/* !homepage styles */


/* common styles */
.hide-this {
    display: none!important;
}

/* !common styles */